# Python cache
__pycache__/

# Checkpoints, logs, outputs
checkpoints/
logs/
outputs/

# Dữ liệu
data/

# Folder giấy tờ / tài liệu
paper/
# SpecStory explanation file
.specstory/
.cursorindexingignore/