# Python cache
__pycache__/

# Checkpoints, logs, outputs
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.ckpt
checkpoints/*.zip
logs/
outputs/

# Dữ liệu
data/test_processed/
data/train_processed/
data/val_processed
data/test_image
data/train_image
data/val_image
# Folder giấy tờ / tài liệu
paper/

# SpecStory explanation file
.specstory/history
.specstory/
.cursorindexingignore
# SpecStory explanation file
.specstory/.what-is-this.md
